.landing {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(59, 59, 59, 0.699);
}

.login-card {
    box-sizing: border-box;
    display: flex;
    width: 300px;
    height: 350px;
    background-color: rgb(234, 255, 243);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2%;
}
.welcome-text {
    box-sizing: border-box;
    display: flex;
    color: rgb(59, 59, 59);
    width: 250px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}